
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "tailwind";
@import "custom/fonts";
@import "custom/variables";
@import "angularmaterial/styles";
/*
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }*/
html, body {
    height: 100%;
 
  }

  *,
::before,
::after {
  
  border-style: none;

}

 /* Move reCAPTCHA v3 badge in front */
 .grecaptcha-badge {
  z-index:999;
  }