@use '@angular/material' as mat;
@include mat.core();

@import "variables";
@import "themes/gray";
@include mat.all-component-themes($bluetheme);


mat-form-field.mat-select {
   /* font-size: 86px;
    color: blue;
    background-color: burlywood;
    border: solid 1px #c0c0ff;*/
  }

  mat-form-field  {
    
    width: 123px;     
    
    /*display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;*/
  }




