<section class="relative md:py-24 py-16 bg-gray-50 dark:bg-slate-800" id="contact">
    <div class="container">
        <div class="grid grid-cols-1 pb-8 text-center">
            <h6 class="text-teal-800  dark:text-slate-100 text-base font-bold uppercase mb-2"

                [innerHTML]="'Contact.title' | translate">

            </h6>
            <h3 class="mb-4 md:text-2xl text-xl font-medium dark:text-white"></h3>

            <p class="text-slate-500 dark:text-slate-300 max-w-xl mx-auto"
                
                [innerHTML]="'Contact.desc' | translate">
            </p>
        </div>

        <div class="grid grid-cols-1 lg:grid-cols-12 md:grid-cols-2 mt-8 items-center gap-6">
            <div class="lg:col-span-8">
                <div class="p-6 rounded-md shadow bg-white dark:bg-slate-900 ">
                    <form [formGroup]="contactForm"
                    (ngSubmit)="onSubmit()"
                    >
                        <div class="grid grid-cols-1 ">
                           
                                                              
                                    <mat-form-field appearance="outline"  
                                    >
                                    <mat-label>{{ 'Contact.Placeholder.Name'  | translate }}</mat-label>
                                    <input [formControl]="Name"  [errorStateMatcher]="matcher"
                                    matInput placeholder="{{ 'Contact.Placeholder.Name'  | translate }}">
                                    <mat-error *ngIf="(Name.hasError('required') )">                                      
                                        <span [innerHTML]="'Contact.Validations.NameRequired' | translate"></span>
                                    </mat-error>
                                     
                                    </mat-form-field>
                              
                            
                            
                        </div>

                        <div class="grid grid-cols-1">
                          

                            <mat-form-field appearance="outline"   >
                                <mat-label>{{ 'Contact.Placeholder.Email'  | translate }}</mat-label>
                                <input matInput 
                                [formControl]="Email"
                                placeholder="{{ 'Contact.Placeholder.Email'  | translate }}">

                                @if (Email.hasError('required') ) {
                                    <mat-error>                                        
                                        <span [innerHTML]="'Contact.Validations.EmailRequired' | translate"></span>
                                    </mat-error>
                                    
                                }
                                @if (Email.hasError('pattern') ) {
                                    <mat-error>                                        
                                        <span [innerHTML]="'Contact.Validations.EmailFormat' | translate"></span>
                                    </mat-error>
                                }
                            </mat-form-field>
                        </div>

                        <div class="grid grid-cols-1">
                           
                           
                            <mat-form-field appearance="outline"  >
                                <mat-label>{{ 'Contact.Placeholder.LinkedIn'  | translate }}</mat-label>
                                <input matInput 
                                [formControl]="LinkedIn"
                                placeholder="{{ 'Contact.Placeholder.LinkedIn'  | translate }}">                            
                            </mat-form-field>

                            <mat-form-field appearance="outline"   >
                                <mat-label>{{ 'Contact.Placeholder.Phone'  | translate }}</mat-label>
                                <input matInput 
                                [formControl]="Phone"
                                placeholder="{{ 'Contact.Placeholder.Phone'  | translate }}">                            
                            </mat-form-field>
                        </div>

                        <div class="grid grid-cols-1">
                           
                            <mat-form-field appearance="outline"  >
                                <mat-label>{{ 'Contact.Placeholder.Subject'  | translate }}</mat-label>
                                <input matInput 
                                [formControl]="Subject"
                                placeholder="{{ 'Contact.Placeholder.Subject'  | translate }}">    
                                
                                @if (Subject.hasError('required') ) {
                                    <mat-error>                                        
                                        <span [innerHTML]="'Contact.Validations.SubjectRequired' | translate"></span>
                                    </mat-error>
                                    
                                }
                            </mat-form-field>

                          
                            <mat-form-field appearance="outline"  >
                                <mat-label>{{ 'Contact.Placeholder.Message'  | translate }}</mat-label>                                 
                                <textarea matInput  
                                [formControl]="Message"
                                rows="5" placeholder="{{ 'Contact.Placeholder.Message'  | translate }}"></textarea>                         

                                @if (Message.hasError('required') ) {
                                    <mat-error>                                        
                                        <span [innerHTML]="'Contact.Validations.MessageRequired' | translate"></span>
                                    </mat-error>
                                    
                                }
                            </mat-form-field>
                        </div>                      
                       

                        <button 
                        [ngClass]="contactForm.valid ? 'btn bg-orange-100 hover:bg-orange-200 border-orange-100 hover:border-orange-200 hover:text-white text-teal-900 rounded-md h-11 justify-center flex items-center'   
                        : 
                        'btn bg-gray-400 border-gray-400 text-white rounded-md h-11 justify-center flex items-center'"
                        [innerHTML]="'Contact.title' | translate"                            
                        type="submit" 
                        [disabled]="!contactForm.valid"
                        >                        
                    </button>

                        
                    </form>
                </div>
            </div>

         
        </div>
    </div>
</section>

