<mat-drawer-container autosize>
    <mat-drawer #drawer  position="end" mode="over" class="drawer" >
    
    <button
    (click)="drawerToggle()"
    class="absolute top-5 left-5 flex h-5 w-5 items-center 
    justify-center rounded   transition-all duration-500 
    hover:text-muted-foreground text-teal-900 dark:text-white   
    origin-center 
    active:origin-top
    focus:outline-1
    hover:scale-125"
    >
    <svg-icon src="assets/icons/heroicons/outline/close.svg" 
   
    [svgStyle]="{'width.px':40,'heigh.px':40}"
    > </svg-icon>
  </button>

        <div class="py-3 transition-all duration-700 font-mesloLGS-Regular"   >
        
            <ul  [class.nav-light]="currentRoute" >
                <li class="nav-item" [ngClass]="{'active': active == '#home'}">
                    <a class="nav-link" (click)="ScrollIntoView('#home');   " href="javascript:void(0);"><span  [innerHTML]="'NavBar.Home' | translate"></span> </a>
                </li>
                <mat-divider ></mat-divider>
                <li class="nav-item" [ngClass]="{'active': active == '#about'}">
                    <a class="nav-link" href="javascript:void(0);" (click)="ScrollIntoView('#about')"><span  [innerHTML]="'NavBar.About' | translate"></span> </a>
                </li>
                <mat-divider></mat-divider>
                <li class="nav-item" [ngClass]="{'active': active == '#why'}">
                    <a class="nav-link" href="javascript:void(0);" (click)="ScrollIntoView('#why')"><span  [innerHTML]="'NavBar.Why' | translate"></span></a>
                </li>
                <mat-divider></mat-divider>
                <li class="nav-item" [ngClass]="{'active': active == '#services'}">
                    <a class="nav-link" href="javascript:void(0);" (click)="ScrollIntoView('#services')"><span  [innerHTML]="'NavBar.Services' | translate"></span></a>
                </li>   
                <mat-divider></mat-divider>                       
                <li class="nav-item" [ngClass]="{'active': active == '#contact'}" >
                    <a class="nav-link" href="javascript:void(0);" (click)="ScrollIntoView('#contact')"><span  [innerHTML]="'NavBar.Contact' | translate"></span></a>
                </li>
                <mat-divider></mat-divider>

            </ul>
          
        </div>
        <br>
        
        <mat-form-field class="language my-0  ">
            
            <mat-select [(value)]="selectedValue" class="text-[14px] lg:text-[16px] ">
            <mat-option *ngFor="let lang of langs" [value]="lang.name" (click)="switchLang(lang.code)"
            class="text-[14px] lg:text-[16px]" >
                {{lang.name}}
            </mat-option>
            </mat-select>
        </mat-form-field>

        
        <app-togglemode></app-togglemode>

        
    </mat-drawer>
    <mat-drawer-content  id="main-content"
    class="scrollbar-thumb-rounded scrollbar-track-rounded grow overflow-auto scrollbar-thin scrollbar-track-transparent scrollbar-thumb-muted">
       

        

<nav class="navbar scrollbar-thumb-rounded 
scrollbar-track-rounded" id="navbar">
    <div class="container flex flex-wrap items-center justify-start">
        <a class="navbar-brand" routerLink="/">
            <span class="inline-block">
                
                <a href="/">
                    <img src="assets/images/unbambu-teal-final.svg" class="l-light h-14 2xl:h-16 lg:h-16 md:h-16" alt="">
                </a>

              
            </span>
            
        </a>

        <div class="nav-icons flex items-center lg_992:order-2 ms-auto">

            <div class="list-none menu-social mb-0">
                

                             
               
            </div> 
         
            <button
            (click)="drawerToggle()"
            class="absolute top-5 right-6 flex h-5 w-5 items-center 
            justify-center rounded text-muted-foreground/50 transition-all duration-500 
            hover:text-muted-foreground text-white
            origin-center 
            active:origin-top
            focus:outline-1
            hover:scale-125"
            >
            <svg-icon src="assets/icons/heroicons/outline/menu.svg" 
            [stretch]="true"
            [svgStyle]="{'width.px':40,'heigh.px':40,'padding.px':1,'margin.px':3}"
            > </svg-icon>
          </button>
         

        </div   >

         
        
    </div>
</nav>
      
     
      
     

      <router-outlet></router-outlet>
   
    </mat-drawer-content>
  </mat-drawer-container>






