<footer class="py-8 bg-slate-100 dark:bg-gray-900">
    <div class="container">
        <div class="grid md:grid-cols-12 items-center">
            <div class=" flex items-center justify-center md:col-span-3 md:justify-start">
                

                <a href="/" class="logo-footer  l-light dark:hidden">
                    <img src="assets/images/unbambu-light-final.svg" class="h-12 md:ms-0" alt="">
                </a>
                <a href="/" class="logo-footer  l-dark dark:inline-block">
                    <img src="assets/images/unbambu-teal-final.svg" class="h-12 md:ms-0" alt="">
                </a>
                
            </div>

            <div class="md:col-span-5 md:mt-0 mt-8">
                <div class="text-center">
                    <p class="text-slate-500 dark:text-slate-300"
                    [innerHTML]="'Footer.rights' | translate"
                    >
                            
                    </p>
                   
                </div>
            </div>

            <div class="md:col-span-4 md:mt-0 mt-8">
                <ul class="list-none foot-icon text-center xs:text-right md:text-right lg:text-right lg_992:text-center">
                    
                   
                    <li class="inline"><a href="http://linkedin.com/company/shreethemes" target="_blank"
                            class="btn btn-icon btn-sm border rounded-md border-slate-300 dark:border-slate-800 hover:border-orange-200 bg-slate-200 dark:bg-orange-100 hover:bg-orange-200 dark:hover:bg-orange-200 text-teal-900 hover:text-white"><i
                                class="uil uil-linkedin align-middle" title="Linkedin"></i></a></li>                    
                    <li class="inline"><a href="https://www.instagram.com/shreethemes/" target="_blank"
                            class="btn btn-icon btn-sm border rounded-md border-slate-300 dark:border-slate-800 hover:border-orange-200 bg-slate-200 dark:bg-orange-100 hover:bg-orange-200 dark:hover:bg-orange-200 text-teal-900 hover:text-white"><i
                                class="uil uil-instagram align-middle" title="Instagram"></i></a></li>                  
                    <li class="inline"><a href="mailto:support@shreethemes.in"
                            class="btn btn-icon btn-sm border rounded-md border-slate-300 dark:border-slate-800 hover:border-orange-200 bg-slate-200 dark:bg-orange-100 hover:bg-orange-200 dark:hover:bg-orange-200 text-teal-900 hover:text-white"><i
                                class="uil uil-envelope align-middle" title="Email"></i></a></li>
                  
                </ul>
            </div>
        </div>
    </div>
</footer>

