<section class="relative md:py-24 py-16 bg-gray-50 dark:bg-slate-800" id="why">
    <div class="container mx-auto">
        <div class="grid grid-cols-1 lg:grid-cols-12 md:grid-cols-2 gap-10 items-center">
            <div class="lg:col-span-5">
                <div class="relative">
                    <img src="assets/images/Bosque_de_bamb_photo.jpg" class="rounded-lg shadow-lg relative" alt="">
                  
                </div>
            </div>

            <div class="lg:col-span-7">
                <div class="lg:ms-7">
                
                  
                    <h6 class="text-teal-800 dark:text-slate-100 text-base font-bold uppercase mb-2">
                        <span [innerHTML]="'Why.title' | translate"></span>
                    </h6>
                    <p class="text-slate-500 dark:text-slate-300 max-w-2xl"
                        [innerHTML]="'Why.desc' | translate">
                    </p>


                  
                </div>
            </div>
        </div>
    </div>
</section>
